@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Lato", sans-serif;
}

h1, h3 {
    text-align: center;
}

.main-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: -0.5em;
}

.main-flex div {
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1em;
    box-sizing: border-box;
    margin: 0.5em;
}

.main-flex div img {
    height: 100%;
    float: left;
    margin-right: 1em;
}

.vcenter {
    align-content: center;
    height: 100%;
    display: block;
}

.main-flex a {
    color: black;
    text-decoration: none;
}

a div {
    transition: scale ease-out 0.2s;
}

a:hover div {
    scale: 1.1;
}